* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

#titolo {
  color:white;
  text-align: center;
  font-size: 80px;
  text-shadow: 2px 2px gray;
  margin-bottom: 25px;
}

#contenitore {

  position: relative;
  width: 800px;
  height: 800px;
  margin:auto;
}

.carta {
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
  box-shadow: 2px 2px lightgray;
  border-radius: 8px 8px;
  background-size: contain;
  width:160px;
  height: 200px;
}

.carta-coperta {
  background-image: url("../img/pattern.png");
}


.carta-scoperta {
  background-image: none;
}

.carta-coperta:hover {
  background-color: white;
  background-image: none;

}

.carta:hover .carta-tram {
  background-image: url("../img/noun_Tram_3134750.svg");
}

.carta .testo-card{
  opacity:0;
}

.carta:hover .testo-card{
  opacity:1;
}

h2.testo-card {
  text-align: center;
  line-height: 300px;
}

.orange {
  color:orange;
}
