* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
}

#titolo {
  color:white;
  font-family: 'Nerko One', cursive;
  text-align: center;
  font-size: 80px;
}
